In [3]:
## Data Frame
## Creating empty data frame

import numpy as np
import pandas as pd

df=pd.DataFrame()

In [4]:
## creating a Data Frame from a list

import numpy as np
import pandas as pd

data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
## Creating data from a list of lists

import numpy as np
import pandas as pd

Data=[1,['a',3],4,[5,'b'],7]
df=pd.DataFrame(Data)

print(df)

        0
0       1
1  [a, 3]
2       4
3  [5, b]
4       7

In [9]:
## Creating DF from dictionary
## WAP that creates a DF storing names and marks of students using list of lists.Give relevant names to columns.

import numpy as np
import pandas as pd

Data=[['Virat',18],['Rohit',45],['Dhoni',7]]
df=pd.DataFrame(Data, columns=['Name','Aggregate'])

print(df)

    Name  Aggregate
0  Virat         18
1  Rohit         45
2  Dhoni          7

In [13]:
import numpy as np
import pandas as pd

Data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
##Data={'Name':['Ananya','Shreya','Priya'],'Age':[98,76,45]}

df=pd.DataFrame(Data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [17]:
## WAP that creates a DF from a list of dictionary

import numpy as np
import pandas as pd

Data=[{'Name':'Navya','Marks':50},{'Name':'Kiran','Marks':90},{'Name':'Ram','Marks':100}]
df=pd.DataFrame(Data,index=[1,2,3])
print(df)

    Name  Marks
1  Navya     50
2  Kiran     90
3    Ram    100

In [19]:
## WAP that creates a DF from a list of dictionary

import numpy as np
import pandas as pd

Data=[{'Name':'Navya','Marks':50,'Age':20},{'Name':'Kiran','Marks':90,'Age':30},{'Name':'Ram','Marks':100,'Age':32}]
df=pd.DataFrame(Data,index=[1,2,3])
print(df)

    Name  Marks  Age
1  Navya     50   20
2  Kiran     90   30
3    Ram    100   32

In [3]:
## WAP to create a DF from a dictionary of series


import numpy as np
import pandas as pd

Data={'Karan':pd.Series([89,80,50],index=['H1','H2','H3'])}
df=pd.DataFrame(Data)
print(df)

    Karan
H1     89
H2     80
H3     50

In [11]:
## WAP that selects a particular column from the above data frame, also add new column into it

import numpy as np
import pandas as pd

data={'Kiara':pd.Series([89,90,50],index=['M1','M2','M3']),
    'Meera':pd.Series([80,70,40],index=['M1','M2','M3'])}

df=pd.DataFrame(data)

name=input("Enter the name of the student whose marks u wnt to see:")
print(df[name])

## add a new column
df['shreya']=pd.Series([98,79,80,74],index=['M1','M2','M3','M4'])
print(df)

KeyError: 'Shyam'

In [22]:
import numpy as np
import pandas as pd

data={'Kiara':pd.Series([89,90,50],index=['M1','M2','M3']),
      'Meera':pd.Series([80,70,40,56],index=['M1','M2','M3','M4']),
      'Saina':pd.Series([10,56,47,90],index=['M1','M2','M3','M4']),
      }

df=pd.DataFrame(data)
print("\nBefore Deletion:")
print(df)
print("\nAfter Deletion:")


## deleting a column
del df['Saina']
print(df)

Before Deletion:
    Kiara  Meera  Saina
M1   89.0     80     10
M2   90.0     70     56
M3   50.0     40     47
M4    NaN     56     90

After Deletion:
    Kiara  Meera
M1   89.0     80
M2   90.0     70
M3   50.0     40
M4    NaN     56

In [30]:
## Mean(): Returns the mean value of all the items in column
import numpy as np
import pandas as pd

data={
    'Name':["Rahul","Sachin","Virat","Dhoni"],
    'Age':[20,30,40,50],
    'Interest':["Cooking","Playing","Reading","Dancing"]
}

df=pd.DataFrame(data)
##print("Mean Age: %2f",df.Age.mean())
##print("Mean Age:", df.Age.mean())
print("Mean Age: %2f" % df.Age.mean())

Mean Age: 35.000000

In [ ]:
## missing data

import numpy as np
import pandas as pd